* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'CustomFont';
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  background-color: rgb(94, 201, 108);
  width: 80%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(170, 48, 48);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.alt-login {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
}

.alt-login div {
  width: 47.5%;
  height: 90%;
  border-radius: 0.25em;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

input {
  border: none;
  background-color: rgb(229, 226, 226);
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
  font-size: 0.75em;
}

input:focus {
  outline-color: rgb(32, 177, 255);
}

.login-btn {
  width: 40%;
  height: 3em;
  background-color: rgb(32, 177, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
}

.login-btn:hover {
  transform: scale(1.25);
}

.text {
  position: relative;
  bottom: 0.5%;
}

.hide {
  position: absolute;
  transform: scale(0);
}

.login-popup {
  position: absolute;
  height: 30em;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  background-color: black;
  color: white;
  bottom: 0;
  transform: scale(1);
  transition: 1.5s;
}

@media only screen and (min-width: 37em) {
  /* Tablet Optimization */
  .page {
    font-size: 1em;
  }

  .cover {
    width: 60%;
    height: 70%;
  }
}

@media only screen and (min-width: 64em) {
  /* Desktop Optimization */
  .page {
    font-size: 11.25em;
  }

  .cover {
    width: 25%;
    height: 65%;
  }
}
